[submodule "vendor/tinyagents"]
	path = vendor/tinyagents
	url = https://github.com/vicenzomasat/tinyagents
[submodule "vendor/tinyflows"]
	path = vendor/tinyflows
	url = https://github.com/vicenzomasat/tinyflows
[submodule "vendor/tinycortex"]
	path = vendor/tinycortex
	url = https://github.com/vicenzomasat/tinycortex
[submodule "vendor/tinyjuice"]
	path = vendor/tinyjuice
	url = https://github.com/vicenzomasat/tinyjuice
[submodule "vendor/tinychannels"]
	path = vendor/tinychannels
	url = https://github.com/vicenzomasat/tinychannels
[submodule "vendor/tinyplace"]
	path = vendor/tinyplace
	url = https://github.com/vicenzomasat/tiny.place.git
[submodule "vendor/tinyhumans-sdk"]
	path = vendor/tinyhumans-sdk
	url = https://github.com/vicenzomasat/sdk.git
[submodule "vendor/tinybus"]
	path = vendor/tinybus
	url = https://github.com/vicenzomasat/tinybus.git
	branch = main
[submodule "vendor/tinymemory"]
	path = vendor/tinymemory
	url = https://github.com/vicenzomasat/tinymemory.git
	branch = openhuman-fork
[submodule "vendor/tinywallet"]
	path = vendor/tinywallet
	url = https://github.com/vicenzomasat/tinywallet
[submodule "vendor/tinydocs"]
	path = vendor/tinydocs
	url = https://github.com/vicenzomasat/tinydocs
